
<div class="navbar-fixed">
    <nav class="blue darken-4" style='margin-bottom: 20px;'>
        <div class="nav-wrapper">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
               <ul id="nav-mobile" class="right hide-on-med-and-down">
                   <li><a href="@routes.HomeController.index" title="Home"><i class="material-icons">home</i></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-trigger" data-target="dropdown-UseCase">dropdown</a>
                        <ul class="dropdown-content" id="dropdown-UseCase">
                            <li><a href="@routes.AuthorController.publicationPerYear">one</a></li>
                            <li><a href="@routes.AuthorController.publicationPerYear">
                                Two</a></li>
                            <li><a href="@routes.AuthorController.publicationPerYear">
                                Three</a></li>
                            
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
                