@(username:String, lastVisited:String)

@main("Welcome to Play") {
<body>
@if(lastVisited != "") {
  <h4 class="center">Welcome to Team3 Data Application! You last visited on @lastVisited</h4>
}else {
<h4 class="center">Welcome to Team3 Data Application!</h4>
}
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <h4 class="header">Researchers</h4>
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content">
                <p>Find Researchers By kewords and interests</p>
              </div>
              <div class="card-action">
                <a href='@routes.FindResearcherByKeywordController.getForm' >Find Researchers By kewords</a>
              </div>
            </div>
          </div>
      </div>
    
      <div class="col s12 m6">
        <h4 class="header">Meta Data</h4>
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content">
                <p>Show meta data of a paper</p>
              </div>
              <div class="card-action">
                <a href='@routes.ShowKnowledgeCardController.getForm' >Show meta data of a paper</a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <h4 class="header">Papers</h4>
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
              <p>Get paper categories with time period</p>
            </div>
            <div class="card-action">
              <a href='@routes.PaperCategoriesController.getForm' >Get paper categories with time period</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m6">
        <h4 class="header">Papers</h4>
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
              <p>Get paper categories with multiple parameters</p>
            </div>
            <div class="card-action">
              <a href='@routes.MultiParamsCategoriesController.getForm' >Get paper categories with multiple parameters</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <h4 class="header">Find Experts</h4>
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content">
                <p>Find Expert By Keyword</p>
              </div>
              <div class="card-action">
                <a href='@routes.FindExpertByKeyWordController.getForm'>Find Expert By Keyword</a>
              </div>
            </div>
          </div>
      </div>
    
      <div class="col s12 m6">
        <h4 class="header">Channel Topics</h4>
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content">
                <p>All Topics of a Channel</p>
              </div>
              <div class="card-action">
                <a href='@routes.FindTopicsByChannelController.getForm' >All Topics of a Channel</a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <h4 class="header">Journal Histogram</h4>
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content">
                <p>Journal Histogram</p>
              </div>
              <div class="card-action">
                <a href='@routes.AuthorController.journalAuthors' >Journal Histogram</a>
              </div>
            </div>
          </div>
      </div>
    
      <div class="col s12 m6">
        <h4 class="header">Author Histogram</h4>
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content">
                <p>Author Histogram</p>
              </div>
              <div class="card-action">
                <a href='@routes.AuthorController.publicationPerYear' >Author Histogram</a>
              </div>
            </div>
          </div>
      </div>

      <div class="col s12 m6">
        <h4 class="header">Topic Trending</h4>
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
              <p>List the trending topics of a Channel</p>
            </div>
            <div class="card-action">
              <a href='@routes.EvolutionByChannelController.getForm' >Topic Trending</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m6">
        <h4 class="header">Ideal Team</h4>
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
              <p>To find the top 10 researches for forming a team</p>
            </div>
            <div class="card-action">
              <a href='@routes.FindResearcherByKeywordController.getResearchersForm' >Form a Team</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <h4 class="header">Set your Profile</h4>
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content">
                <p>Set your Profile</p>
              </div>
              <div class="card-action">
                <a href='@routes.UserProfileController.getForm()' >Set your Profile</a>              </div>
            </div>
          </div>
      </div>
    
      <div class="col s12 m6">
        <h4 class="header">Get a Profile</h4>
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content">
                <p>Get a Profile</p>
              </div>
              <div class="card-action">
                <a href='@routes.ShowAuthorCardController.getForm' >Get a Profile</a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <h4 class="header">Get Author Distribution</h4>
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
              <p>Get Author Distribution by country and keyword</p>
            </div>
            <div class="card-action">
              <a href='@routes.MapController.getAuthorForm()' >Get author distribution</a>              </div>
          </div>
        </div>
      </div>

      <div class="col s12 m6">
        <h4 class="header">Get Paper Distribution</h4>
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
              <p>Get Paper Distribution by conference and time frame</p>
            </div>
            <div class="card-action">
              <a href='@routes.MapController.getPaperForm()' >Get paper distribution</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <h4 class="header">Collaboration Network</h4>
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content">
                <p>Showing a multi­depth collaboration network of the author</p>
              </div>
              <div class="card-action">
                <a href='@routes.AuthorController.getResearcherNetwork()' >Collaboration Network</a>              </div>
            </div>
          </div>
      </div>
    
      <div class="col s12 m6">
        <h4 class="header">Get Top 10 Citation Papers</h4>
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content">
                <p>For each major publication channel and a given year or year period, list the top 10 most cited papers.</p>
              </div>
              <div class="card-action">
                <a href='@routes.PaperController.formTop20PapersWithYears' >Get Top10 Cited Papers</a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>



  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <h4 class="header">Get Top 20 Cited Papers</h4>
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content">
                <p>For each major publication channel list the top 20 cited papers.</p>
              </div>
              <div class="card-action">
                <a href='@routes.PaperController.getTop20Papers()' >Get Top20 Cited Papers</a>              </div>
            </div>
          </div>
      </div>
    
      <div class="col s12 m6">
        <h4 class="header">Post Publication</h4>
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content">
                <p>Register Publication</p>
              </div>
              <div class="card-action">
                <a href='@routes.PaperController.getForm' >Register Publication</a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <h4 class="header">Followers Statistics</h4>
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content">
                <p>Followers Statistics</p>
              </div>
              <div class="card-action">
                <a href="@routes.AuthorController.statsFollowers">Followers Statistics</a>              </div>
            </div>
          </div>
      </div>
    
      <div class="col s12 m6">
        <h4 class="header">User Followers Statistics</h4>
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content">
                <p>User Followers Statistics</p>
              </div>
              <div class="card-action">
                <a href="@routes.AuthorController.getstatsUserFollowers">User Followers Statistics</a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
    <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <h4 class="header">Dashboard</h4>
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content">
                <p>Dashboard</p>
              </div>
              <div class="card-action">
                <a href="@routes.DashboardController.getMyProfile">Dashboard</a> </div>
            </div>
          </div>
      </div>
    
      <div class="col s12 m6">
        <h4 class="header">Paper Recommendation</h4>
        <div class="card horizontal">
          <div class="card-stacked">
            <div class="card-content">
              <p>Recommend paper to read</p>
            </div>
            <div class="card-action">
              <a href='@routes.RecommendController.getForm()' >Paper Recommendation</a>              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <h4 class="header">Coauthorship Path</h4>
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <p>Shortest Path</p>
          </div>
          <div class="card-action">
            <a href='@routes.AuthorController.getPathForm' >See Shortest Path</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
 }
