@()

@main("Welcome to Play") {
<body>
  <h4 class="center">Welcome to Team3 Data Application!</h4>
  <br><br><br><br><br><br>
  <div class="row center">
    <a href='@routes.AuthorController.publicationPerYear' class="waves-effect waves-light btn">Author Histogram</a>
      <br>
      <br>
    <a href='@routes.AuthorController.journalAuthors' class="waves-effect waves-light btn">Journal Histogram</a>
      <br>
      <br>
      <a href='@routes.FindExpertByKeyWordController.getForm' class="waves-effect waves-light btn">Find Expert By Keyword</a>
      <br>
      <br>
      <a href='@routes.FindTopicsByChannelController.getForm' class="waves-effect waves-light btn">All Topics of a Channel</a>
      <br>
      <br>
      <a href='@routes.FindResearcherByKeywordController.getForm' class="waves-effect waves-light btn">Find Researchers By kewords and interests</a>
      <br>
      <br>
      <a href='@routes.ShowKnowledgeCardController.getForm' class="waves-effect waves-light btn">Show meta data of a paper</a>
      <br>
      <br>
      <a href='@routes.PaperController.getForm' class="'waves-effect waves-light btn">Post a publication</a>
  </div>
</body>
 }
