@(author: Author, username: String, alreadyFollowed: Boolean, paperList: List[String])

@import helper._

@main("Author profile") {
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/profile.css")">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1>@author.getName() 's Homepage</h1>
            </div>
            <div class="row">
                <span style="margin-top: 5px; margin-bottom: 5px;">@author.getName()</span>
                <div style="display: none">
                    <p id="username">@username</p>
                    <p id="author">@author.getName()</p>
                </div>
                <br>
                @if(author != username && alreadyFollowed) {
                    <button type="button" id="unfollow-btn" class="btn-small waves-effect waves-light blue darken-2" style="margin-top: 5px;
                        margin-bottom: 5px;">Unfollow</button>
                }
                @if(author != username && !alreadyFollowed) {
                    <button type="button" id="follow-btn" class="btn-small waves-effect waves-light blue darken-2" style="margin-top: 5px; margin-bottom: 5px;">Follow</button>
                }
            </div>
            <div class="row">
                <h2>Publications</h2>
                <ul>
                @for(paperTitle <- paperList){
                    <li style="margin-top: 5px; margin-bottom: 5px;">
                        @paperTitle
                    </li>
                }
                </ul>
            </div>

        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src='@routes.Assets.versioned("javascripts/profile.js")'></script>
    </body>
}

