@(data: String)

@main("Expert") {
    <body>
        <div class="container">
            <div class="col s12 l10 offset-l1">
                <div class="card-panel z-depth-0">
                    <h4 class="form-signin-heading center">Showing researchers network</h4>
       				 <div id="data">@data</div>
        			 <div class="alchemy" id="alchemy"></div>

                </div>
            </div>
        </div>
        <script type="text/javascript" src='@routes.Assets.versioned("javascripts/vendor.js")'>
        </script>

    <script type="text/javascript" src='@routes.Assets.versioned("javascripts/alchemy.js")'>
        </script>

    <script type="text/javascript">
        	const data = $('#data').text();
        	if (data) alchemy.begin({dataSource: JSON.parse(data)});
    </script>
    </body>
}


