@import com.fasterxml.jackson.databind.JsonNode
@(jsonNode: JsonNode, keyword: String)


@main("Expert") {
    <body>
        <div class="container">
            <div class="col s12 l10 offset-l1">
                <div class="card-panel z-depth-0">
                    <h4 class="form-signin-heading center">Showing researcher of keyword @keyword</h4>
                    <h5 class="center">@jsonNode.get(0).get("name").asText()</h5>
                    <h5 class="center">@jsonNode.get(1).get("name").asText()</h5>
                    <h5 class="center">@jsonNode.get(2).get("name").asText()</h5>
                    <h5 class="center">@jsonNode.get(3).get("name").asText()</h5>
                    <h5 class="center">@jsonNode.get(4).get("name").asText()</h5>
                    <h5 class="center">@jsonNode.get(5).get("name").asText()</h5>
                    <h5 class="center">@jsonNode.get(6).get("name").asText()</h5>
                    <h5 class="center">@jsonNode.get(7).get("name").asText()</h5>
                    <h5 class="center">@jsonNode.get(8).get("name").asText()</h5>
                    <h5 class="center">@jsonNode.get(9).get("name").asText()</h5>
                </div>
            </div>
        </div>
    </body>
}