
@( authorForm: Form[Author])
    @import helper._

@main("PublicationPerYear"){       
    @helper.form(routes.AuthorController.getJournalAuthors()) {
<body>

<div class="container">
  <div class="row">
     <div class="col s12 l10 offset-l1">
        <div class="card-panel">
            <h4 class="form-signin-heading center">authorName</h4>
              <form class="form-signin" action="/autho/" method="GET">
                   <div class="row">
                      <div class="input-field col s12">
                          <input type="text" name="authorName" id="authorName" value="@authorForm("name").value">
                           <label for="authorName" class="active">authorName</label>
                      </div>
                    </div>
                    <div class="row center">
                         <div class="input-field col s12">
                           <button type="submit" class="btn waves-effect waves-light blue darken-2" id="create">
                                            Submit</button>
                         </div>
                      </div>
                  </div>
                </form>
          </div>
      </div>
  </div>
</div>
 </body>
}
     
}


