@(data: String)

@main("Top-k Related Papers") {
    <div class="container ">
        <h4 class="center">Find top-k related papers</h4>

        <div id="data" style="display: none;">@data</div>

        <div class="alchemy" id="alchemy" style="height: 700px;"></div>
    </div>

    <script src="@routes.Assets.versioned("javascripts/vendor.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/alchemy.js")"></script>

    <script type="text/javascript">

        const data = $('#data').text();
        if (data) alchemy.begin({dataSource: JSON.parse(data)});
    </script>
}